main > div {
    background-color: #ffcbcb;
    border-radius: 10px;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

main > div > h2 {
    color: #407088;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

main > div > p {
    color: #132743;
    font-size: 18px;
}

main {
    background-color: #132743;
    display: grid;
    grid-template-areas: 
    '.'
    '.'
    '.'
    '.'
    '.';
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #container2 {
        grid-area: area2;
    }

    #container3 {
        grid-area: area3;
    }

    main {
    grid-template-areas: 
    '. area3 .'
    'area2 area3 .'
    'area2 area3 .';
    }


}